<h1> Day 1 - Class </h1>

## Data Science
- Machine Learning algorithms
- Natural Language Processing algorithms
- Artificial Intelligence algorithms

### Softwares

<b>Anaconda</b>

Comes with lot of standard packages pre-installed

<b>Spyder</b>

Desktop based IDE

<b>Jupyter Notebook</b>

Browser based IDE (supports Julia, R, Python etc.. )

### Jupyter Notebook

Jupyter is a loose acronym meaning Julia, Python, and R. These programming languages were the first target languages of the Jupyter application, but nowadays, the notebook technology also supports many other languages.

In 2001, Fernando Pérez started developing Ipython. IPython is a command shell for interactive computing in multiple programming languages, originally developed for the Python.

Consider the following features provided by IPython −

1) Interactive shells (terminal and Qt-based).

2) A browser-based notebook with support for code, text, mathematical expressions, inline plots and other media.

3) Support for interactive data visualization and use of GUI toolkits.

4) Flexible, embeddable interpreters to load into one's own projects.

In 2014, Fernando Pérez announced a spin-off project from IPython called Project Jupyter. IPython will continue to exist as a Python shell and a kernel for Jupyter, while the notebook and other language-agnostic parts of IPython will move under the Jupyter name. Jupyter added support for Julia, R, Haskell and Ruby.

Shortcuts

- <b>B</b> - add a new row below

- <b>A</b> - add a new row above

- <b>D , X</b> - to delete a row

- <b>CTRL + Enter</b> - execute a command

- <b>SHIFT + m</b> - by selecting multiple cells merges all the selected cells to one

- <b>Tab</b> - When you type something and clicks 'tab' it tries to auto complete

- <b>Shift + Tab</b> - on a method shows the docstring of the method

It follows literature programming.

When you save a notebook you ge the '.ipynb' extension -> It stands for Interactive Python Notebook. 

Towards the left of each cell you could see something like, 

<b>In [4]: pwd </b>

This means, in this session the command pwd was fired as the 4th command , if you fire the same once again it will show [5] and so on. Once you restart the kernel, it will be reset to 0. 

<b>In [*]:</b> 

means the cell is under execution, it's preferred to wait when we see this.

### Python 

- Lot of packages available
- Active community support
- One programming language for,
    - Web (Django, Flask)
    - Mobile(Kivy)
    - MachineLearning
- Python is extremely easy and readable

### Install a new package

For installing a new package type the command <b>pip install plotly</b> in Anaconda prompt. You could also fire this command from Jupyter Notebook, but Anaconda prompt is the prefferred way as there is no size limit while downloading the package.

### Normal Unix commands and math operations will work in Jupyter Notebook

#### Unix Functions

In [36]:
pwd

'D:\\sanooj\\datascience\\notebooks\\spklearn-ml'

In [37]:
ls

 Volume in drive D is LENOVO
 Volume Serial Number is E48E-8B0A

 Directory of D:\sanooj\datascience\notebooks\spklearn-ml

03-05-2020  11:17    <DIR>          .
03-05-2020  11:17    <DIR>          ..
02-05-2020  11:45    <DIR>          .ipynb_checkpoints
01-03-2020  10:22    <DIR>          __pycache__
03-05-2020  11:17            25,224 Class 01_Jan 4.ipynb
12-02-2020  22:47            18,011 Class 02_Jan 5.ipynb
12-02-2020  22:47            49,672 Class 03_Jan 11.ipynb
12-02-2020  22:47            44,750 Class 04_Jan 12.ipynb
12-02-2020  22:47             7,401 Class 06_Jan 19.ipynb
12-02-2020  22:47            31,276 Class 07_Jan 25.ipynb
12-02-2020  22:47            95,413 Class 08_Feb 01.ipynb
12-02-2020  22:47           128,983 Class 09_Feb 02 (Practice).ipynb
12-02-2020  22:47            42,242 Class 09_Feb 02.ipynb
12-02-2020  22:47            45,408 Class 10_Feb 08(Practice).ipynb
14-02-2020  21:48           188,509 Class 10_Feb 08.ipynb
13-02-2020  22:29            55,134 Class 11_Feb 09.ipynb
21-02-2020  22:56            88,730 Class 12_Feb 15(Kaggle_Survey).ipynb
15-02-2020  13:50            36,234 Class 12_Feb 15.ipynb
23-02-2020  09:25           221,821 Class 13_Feb 22(Iot Device Network Logs).ipynb
22-02-2020  14:22         1,428,704 Class 13_Feb 22.ipynb
01-03-2020  12:29           220,088 Class 14_Feb 23(Automobile Dataset).ipynb
01-03-2020  20:27            10,536 Class 15_Feb 29.ipynb
01-03-2020  19:33            19,554 Class 16_Mar 01.ipynb
08-03-2020  14:02             9,431 Class 17_Mar07(Rossmann-store-sales).ipynb
08-03-2020  14:02           383,029 Class 17_Mar07.ipynb
29-03-2020  21:19               858 Class 18_Mar08.ipynb
29-03-2020  21:15            33,743 Class 19_Mar 21.ipynb
29-03-2020  20:54             4,693 Class 20_Mar 28.ipynb
25-04-2020  22:17           169,508 Class 21_Mar 29(house price).ipynb
14-04-2020  18:24           180,910 Class 21_Mar 29.ipynb
05-04-2020  13:26            19,044 Class 22_Apr04.ipynb
10-04-2020  23:32             7,625 Class 23_Apr05.ipynb
02-05-2020  19:58            69,120 Class 24_Apr11.ipynb
20-04-2020  22:30            36,870 Class 25_Apr 11.ipynb
21-04-2020  23:21            81,716 Class 26_Apr18.ipynb
26-04-2020  01:17        40,920,254 Class 27_Apr19(home-credit-default-risk).ipynb
25-04-2020  21:50             6,330 Class 28_Apr25.ipynb
02-05-2020  22:47            12,767 Class 29_May02.ipynb
01-05-2020  23:40    <DIR>          feature_engineering
01-03-2020  10:20                52 func_test.py
02-05-2020  22:20    <DIR>          img
02-05-2020  16:12    <DIR>          metrics
01-03-2020  10:26    <DIR>          module_test
26-04-2020  00:23    <DIR>          plots
25-04-2020  22:32         2,072,022 Practice_01.ipynb
02-05-2020  19:52         2,123,478 Practice_02.ipynb
25-04-2020  23:53    <DIR>          preprocessing
02-05-2020  22:36               176 README.md
12-02-2020  22:47            72,331 working_with_groupby_date_8th_feb_2020.ipynb
              39 File(s)     48,961,647 bytes
              10 Dir(s)  11,392,442,368 bytes free

#### Math Operations

In [38]:
3+5

8

In [39]:
7-3

4

In [40]:
2 * 5

10

In [41]:
24/8

3.0

#### Data Types

Datatypes available are -> <b>int, float, str</b>. Python can dynamically detect the datatype without having to explicitly define it so. i.e Python is a forward reference language.

In [42]:
a=2
type(a)

int

In [43]:
a=2.6
type(a)

float

In [44]:
a='Sanooj'
type(a)

str

In [45]:
a="Sanooj"
type(a)

str

In [46]:
a[1]

'a'

In [47]:
a[0]

'S'

-1 is the last index

In [48]:
a[-1]

'j'

Gets the items at position 3 to 5. Indices start at 0

In [49]:
a[3:6]

'ooj'

#### String Functions

In [50]:
# For viewing multiple output lines from one cell import the following
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'

In [51]:
a.upper()

a.lower()

a.islower()

a.isupper()

a.capitalize()

'SANOOJ'

'sanooj'

False

False

'Sanooj'

In [52]:
a = 'Sanooj'

a.endswith('j')

a.startswith("a")

a.isalpha()

a.isalnum()

a = '123'
a.isalnum()

a.isdigit()

a = 'DataScience123'
a.isalnum()

True

False

True

True

True

True

True

In [53]:
a = "data sciencea"
a.replace('a', 'xx')

a.split()

a.split('a')

a.count('a')

a.count('a',2)

a.count('a',4)

a.count('a',2,8)

b = 'aaa'
b.count('a',-4,-1)

b = 'aaa'
b.count('a',0,3)

'dxxtxx sciencexx'

['data', 'sciencea']

['d', 't', ' science', '']

3

2

1

1

2

3

In [54]:
a = ' data science '
a.center(20, '*')

a.strip()

a.lstrip()

a.rstrip()

a.rstrip(' e')

'*** data science ***'

'data science'

'data science '

' data science'

' data scienc'

In [55]:
a = 'data science'
a.encode('utf-16')

a.encode('utf-16').decode('utf-16')

a.find('a'),a.find('a',1),a.find('a',5,8)

a = 'sanooj'
a.find('o')

b'\xff\xfed\x00a\x00t\x00a\x00 \x00s\x00c\x00i\x00e\x00n\x00c\x00e\x00'

'data science'

(1, 1, -1)

3

In [56]:
len(a)

min(a)

max(a)

6

'a'

's'

#### Math Functions

In [57]:
import math

In [58]:
a = 81
math.sqrt(a)

9.0

In [59]:
math.sin(a), math.sinh(a)

(-0.6298879942744539, 7.530486572925153e+34)

In [60]:
math.e , math.pi

(2.718281828459045, 3.141592653589793)

In [61]:
math.exp(2), math.expm1(2)

(7.38905609893065, 6.38905609893065)

In [62]:
a = 2.6
math.ceil(a)

3

In [63]:
math.floor(a)

2

In [64]:
math.factorial(5)

120

In [65]:
math.ceil(math.pi)

4

In [66]:
math.floor(math.pi)

3

In [67]:
math.log(1)

0.0

In [68]:
math.log10(1)

0.0

In [69]:
math.log2(1)

0.0

In [70]:
math.log1p(1)

0.6931471805599453

### Quick observations

As you would've taken note of, 
- some of the functions such as floor(),log() is part of the math package
- some of the functions such as split(), upper(), islower() are pure string functions
- functions such as len(), type() are implicitly available to use as part of python